# Este é um arquivo de exemplo para as variáveis de ambiente do projeto.
#
# Para configurar o ambiente de desenvolvimento, copie este arquivo para .env
# Para configurar o ambiente de testes, copie este arquivo para .env.test
#
# Preencha cada arquivo com os valores apropriados para o seu respectivo ambiente.

# URL de conexão com o banco de dados SQLAlchemy.
#
# Exemplo para desenvolvimento (.env):
# DATABASE_URL="sqlite:///src/kanban/kanban.db"
#
# Exemplo para testes (.env.test):
# DATABASE_URL="sqlite:///tests/test.db"

DATABASE_URL=